<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunaSoft_Write.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LunaSoft_Write.My.MySettings>
            <setting name="Version" serializeAs="String">
                <value>3.1.1109.0</value>
            </setting>
            <setting name="Feedbackonclose" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Segoe UI, 10pt</value>
            </setting>
            <setting name="OpenFileDialogOpensnewtab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Idfk" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="Autosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>883, 710</value>
            </setting>
            <setting name="DefaultTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Titlebar" serializeAs="String">
                <value>LunaSoft Write 2017 Tech Preview 2</value>
            </setting>
            <setting name="EditionID" serializeAs="String">
                <value>Enterprise</value>
            </setting>
            <setting name="PasswordEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </LunaSoft_Write.My.MySettings>
    </userSettings>
</configuration>